@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    padding:0;
    margin: 0; 
    box-sizing: border-box; 
   
}
html{    
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    

}
body{ 
 overflow-x: hidden;
 font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
/* LOGO CSS */
 .logo a {
     display: inline-block;
     margin-top: 30px;
}
.our-header-area{
    position: absolute;
    width: 100%;
    z-index: 999;
}
a:hover{
    color: #fff !important;
}
/* logo sticky */
 .radiology-main-menu .logo a.main_sticky_main_l {
     display: block;
}
 .radiology-main-menu .logo a.main_sticky_l {
     display: none;
}
/* logo pre */
 .radiology-main-menu .prefix .logo a.main_sticky_main_l {
     display: none;
}
 .radiology-main-menu .prefix .logo a.main_sticky_l {
     display: block;
} 
/* MENU text CSS */
 .radiology_menu ul {
    text-align: right;
    list-style: none;
    margin-top: 8px;
}

 .radiology_menu > ul > li {
     display: inline-block;
     position: relative;
}
.radiology_menu > ul > li > a {
    display: block;
    margin: 25px 12px;
    transition: .5s;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.radiology_menu > ul > li > a:hover {    
    color: #fff;
}
 .radiology_menu > ul > li > a:before, .radiology_menu > ul > li.current > a:before {
     background: #ffb600 none repeat scroll 0% 0;
     bottom: -7px;
     content: "";
     height: 2px;
     left: 0;
     margin: auto;
     opacity: 0;
     position: absolute;
     right: 0;
     transition: all 0.5s ease 0s;
     width: 15%;
     display:none;
}
 .radiology_menu ul li:last-child a {
     margin-right: 15px !important;
}
.radiology_menu > ul > li.current > a, .radiology_menu > ul > li:hover > a, .creative_header_menu > ul > li:hover > a {
    color: #919aa7;
    background-color: transparent;
}
 .radiology_menu > ul > li:hover > a:before, .sefti_menu > ul > li.current > a:before {
     opacity: 1;
}

 .transprent-menu .radiology_nav_area {
     background-color: transparent;
     padding: 0;
     transition: .5s;
}
 .radiology_nav_area.postfix {
     transition: .3s;
}
.radiology_nav_area.prefix {
    background-color: transparent;
}
.hbg2 {
    background-color: rgba(0,0,0,0.7) !important;
}

 .radiology_nav_area.prefix .radiology_menu > ul > li > a {
     color:#fff;
}
.radiology_nav_area.prefix .sefti_menu > ul > li.current > a {
    color: #919aa7;
}
 .search_popup_button, .tx_mmenu_together{
     align-items: center;
     display: flex;
     justify-content: flex-end;
}
 .tx_mmenu_together .donate-btn-header {
     padding: 0;
}

/* sub menu style */
.radiology_menu ul .sub-menu {
    position: absolute;
    left: 0;
    top: 130%;
    width: 240px;
    text-align: left;
    background: #4D4C4C;
    margin: 0;
    padding: 15px 8px 8px 25px;
    z-index: 9999;
    box-shadow: 0 0 30px rgb(0 0 0 / 9%);
    transition: .2s;
    opacity: 0;
    visibility: hidden;
}
 .radiology_menu ul li:hover > .sub-menu {
     transition: .5s;
     opacity: 1;
     visibility: visible;
     top: 100%;
     z-index: 9999;
}
 .radiology_menu ul .sub-menu li {
     position: relative;
	 transition:.5s;
}
.radiology_menu ul .sub-menu li a {
    display: block;
    margin: 0;
    margin-bottom: 6px;
    letter-spacing: normal;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    color: #fff;
    visibility: inherit !important;
    padding: 4px 0px;
}

.radiology_menu ul .sub-menu li:before {
    left: -18px;
}
.radiology_menu ul .sub-menu li:hover:before{
	opacity:1;
}
.radiology_menu ul .sub-menu .sub-menu .sub-menu .sub-menu li:hover>a, .radiology_menu ul .sub-menu .sub-menu .sub-menu li:hover>a, .radiology_menu ul .sub-menu .sub-menu li:hover>a, .sefti_menu ul .sub-menu li:hover:before, .sefti_menu ul .sub-menu li:hover>a {
    color: #919aa7;
    padding-left: 12px;
}
.bill-paying .sub-menu-sub{
    display: block;
    text-align: center;
    background-color: none;
    

}
.right-menu{
    margin-left: 50px;
}
.right-menu-a{
    border-bottom: 2px solid #fff;    
    padding-left: 4rem;
    margin-top: 0.75rem;
}

/* has menu icon */
.radiology-main-menu .menu-item-has-children::after {
    margin-left: -5px;
    content: "\f0dd";
    font-family: FontAwesome !important;    
    font-size: 13px;
    font-weight: 600;
    top: 0px;
    position: absolute;
    color: #fff;
    top: 26px;
}

/* quearys area css */
.radiology_menu.main-search-menu > .em-header-quearys, .em-quearys-top.msin-menu-search {
    display: inline-block;
}
.em-top-quearys-area {
    position: relative;
}
.radiology_menu div.em-header-quearys {
    text-align: center;
}
.sub-menu li a::after {
    position: absolute;
    content: "";
    border: 0px solid #009a7c;
    bottom: -5px;
    left: 0;
   
}
.sub-menu li a:hover::after {
    position: absolute;
    content: "";
    border: 3px solid #009a7c;
    width: 100%;
    left: 0;
    bottom: -5px;
    transition: .1s;
}


.em-quearys-inner {
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 10000;
    transition: all 0s 0s cubic-bezier(0.32, 0, 0, 1), transform .3s .15s cubic-bezier(0.32, 0, 0, 1), background .3s 0s cubic-bezier(0.32, 0, 0, 1);
    transform: scale(1.1);
    visibility: hidden;
    opacity: 0;
    left: -150%;
    background: rgba(0, 0, 0, 0);
}
.em-s-open {
    visibility: visible;
    opacity: 1;
    left: 0;
    background: #000000e6 !important;
    transform: scale(1);
}
.em-quearys-form {
    width: 100%;
    max-width: 895px;
    margin: auto;
    padding: 30px 0;
}
.top-form-control {
    position: relative;
}
.top-form-control input {
    background: transparent;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    height: 100px;
    padding: 0 40px 0 15px;
    width: 100%;
    border: none;
    transition: .5s;
    border-bottom: 3px solid #fff;
}
.top-form-control input::placeholder{
	color:#fff;
}
textarea, input {
    outline: none;
    margin: 10px 0;
    padding: 15px;
    border: none;
    text-transform: uppercase;
}
label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
}
.top-form-control button.top-quearys-style {
    position: absolute;
    right: 6px;
    top: 50%;
    background: transparent;
    font-size: 45px;
    border: none;
    color: #fff;
    transform: translateY(-50%);
}
.main-search-menu .em-header-quearys .em-quearys-menu i {
    cursor: pointer;
    background: transparent;
    color: #fff;
    padding: 0;
    border-radius: 5px;
    height: inherit;
    width: inherit;
    line-height: inherit;
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
}
.radiology_nav_area.prefix .main-search-menu .em-header-quearys .em-quearys-menu i {
    color: #fff;
}
.mrt10{
	margin-top:10px;
}
.em-quearys-menu i {
    background: #919aa7;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    height: 36px;
    width: 36px;
    line-height: 36px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.main_menu_address_a {
    display: flex;
    align-items: center;
    position: relative;
}
.main_menu_address_a::before {
    background: #fbfbfb40;
}
.main_menu_address_a:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 107px;
    left: 0;
}
.main_menu_header_icon {
    margin-left: 25px;
    margin-right: 10px;
}
.main_menu_header_icon i {
    
	font-size: 30px;
}
.main_menu_header_address_text h3, .main_menu_header_address_text h4 a {
    margin: 0;
    font-weight: 600;
	font-size: 18px;
	
}

.main_menu_header_address_text h4 {
    margin-bottom: 0;
    color: #030925;
}
.radiology-navegition-menu{
    justify-content: right;
}

/*=======================
#2 radiology mobile menu css
========================*/
.mobile-menu{
 display:none !important;
}

 .mobile_logo_area{
 display:none !important;
}
.mean-container a.meanmenu-reveal {
    display: none !important;
}
.mean-container .mean-nav > ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: block !important;
}
.mean-container .mean-bar {
    background: #fff;
    padding: 0;
}
.mean-container .mean-nav ul li {
    border-top: 0px solid #ddd;
}
.mean-container .mean-nav ul li li a,
.mean-container .mean-nav ul li a {
    color: #444;
}
.mean-container .mean-nav ul li li a {
    border-top: 1px solid #ddd;
}

.mobile_p {
    position: fixed;
    right: 0;
    width: 100%;
	padding: 80px 20px 0px;
	overflow-y: scroll;
    top: 0;
    height: 100%;
    z-index: 9999;
    display: block;
    transition: 0.5s all;
    box-shadow: 0 0 30px rgb(0 0 0 / 7%);
    transform: translateX(100%);
    background: #ffffff;
}
.tx-s-open {
    transform: translateX(0);
}
.mobile_p .tuetion_theme_widget > div.widget_block {
    padding: 0;
}
.mobile_p .tuetion_theme_widget > div {
    padding: 20px 0px 20px;
    box-shadow: none;
}
.mean-container .mean-nav ul li a {
    border: 0;	
    width: 100%;
    border-top: 1px solid #ddd;	
    font-size: 14px;
    padding: 12px 5px;
    font-weight: 500;
	display: block;
}
.mean-container .mean-nav ul li a.mean-expand {
	width: auto;
}
.mobile_opicon {
    text-align: right;
    padding: 4px 0;
}
.mean-container .mean-nav > ul > li:first-child > a {
    border-top: 0;
}
.mobilemenu_con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 30px;
    position: absolute;
    right: 20px;
}
.mobile_menu_o  i {
    font-size: 26px;
}
.mobile_menu_content .mobile_menu_logo {
    margin-bottom: 20px;
}
.mobile_cicon {
    position: absolute;
    right: 30px;
    top: 50px;
}
.mobile_overlay {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-out 0s;
}
.mobile_overlay.mactive {
    opacity: 1;
    visibility: visible;
}
/* menu button */
a.dtbtn {
    border: none;
    display: block;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 500;
    padding: 12px 38px;
    color: #fff;
    background: #919aa7;
    border-radius: 30px;
    font-family: "Cabin", sans-serif;
}
a.dtbtn:hover {
    background: var(--dark);
}
.radiology_menu{
    display: flex;
    
}
.right-menu a{
    display: block;
    text-align: left;
}

.bill-paying {
    opacity: 1;
    background-color: rgb(0 103 182/.7);
    padding: 30px 60px;    
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.bill-paying:hover {    
    background-color: hsla(0,0%,44%,.7);    
    color: #fff;
}
.right-menu a {
    color: #fff;
    font-size: 18px;
}

/* our radiology hero section style start here   */
.radiology-hero-section{
    height: 950px;
    position: relative;
    background-position: center;
}
.hero-info-area{
    margin-left: 300px;
    
}
.hero-area{
    position: absolute;    
    bottom: 100px;
    left: 200px;
}
.hero-heding{
    color: #fff;
    font-size: 3.75rem;
    line-height: 1;
}
.hero-heding-one{
    color: #fff;
    font-size: 3.75rem;
    line-height: 1;
}
.hero-btn{
    padding: 20px 30px;
    border: none;
    margin-top: 30px;
    color: #009a7c;
    text-transform: uppercase;
}
.hero-btn:hover{
    background-color: hsla(0,0%,44%,.65);
    color: #fff;
    transition: .3s;

}
.bg-hero-mobile{
    display: none;
}

/* our hero slider area start here  */
.slider-area{
    margin: 60px 0;
}
.single-slider figure img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.s-img-bordr {
    background-color: #009a7c;
    display: block;
    height: 20px;
}
.heroSlider .slick-prev {    
    left: -40px;        
}
.slick-prev::before {    
    content: '\f104' ;    
    font-family: 'Font Awesome 6 Free';
    color: #0067B6;
    font-weight: 900;
    font-size: 32px;
    
}
.heroSlider .slick-next {    
    right: -40px;    
}
.slick-next::before{
    content: '\f105' ;    
    font-family: 'Font Awesome 6 Free';
    color: #0067B6;
    font-weight: 900;
    font-size: 32px;
}
.single-slider h2 {
    color: #0067B6;
    font-weight: 600;
    width: 100%;
    font-size: 1.8rem;
}
.slider-p{
    max-height: 9.1em; 
    overflow: hidden;
    margin-top: 40px; 
    margin-bottom: 80px; 
    
    
} 

.single-slider-btn {
    padding: 15px 30px;
    background-color: #0067B6;
    position: absolute;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    bottom: 10px;
    margin-top: auto;
    
}
.single-slider-btn:hover {
    background-color: #4D4C4C;
}

.icofont-search-2:before {
    content: "\f002";
    font-family: 'Font Awesome 6 Free';
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    
}
.icofont-close-line:before {
    content: "\f057";
    font-family: 'Font Awesome 6 Free';
    color: #fff;
    font-weight: 900;
    font-size: 35px;
}
.icofont-long-arrow-right:before {
    content: "\f061";
    font-family: 'Font Awesome 6 Free';
    color: #fff;
    font-weight: 900;
    font-size: 35px;
}
.icofont-navigation-menu:before {
    content: "\f0c9";
    font-family: 'Font Awesome 6 Free';
    color: #fff;
    font-weight: 900;
}
.icofont-close:before {
    content: "\f00d";
    font-family: 'Font Awesome 6 Free';
    color: black;
    
}
/* our doctor area style start here  */
.our-doctor-section{
    background-color: #009a7c; 
}
.doctor-header {
    background-color: #fff;
    height: 145px;
    width: 95%;
    display: flex;
    align-items: center;    
    margin-top: 60px;
}
.doctor-header h1 {    
    color: #009a7c;    
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}    

.doctor-slider{
    margin-left: 200px;
}
.doc-pic-1{
    max-width: 65%;
}
.doc-pic {
    max-width: 35%;
    height: 380px;
}
.doc-info{
    display: flex;
}
.doctor-header h1{
    margin-left: 200px;
    justify-content: center;
    align-items: center;
}
.doc-header h2{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: white;
    margin-top: 40px;
    margin-bottom: 30px;
}
.prose-para {
    padding: 0 50px 0 30px;
    color: white;
}
.single-doctor{
    padding: 0 20px;
}
.prose-para{
    display: block;
}
.doc-new-btn{
    border: none;
    background: none;
    color: white;
    font-size: 18px;
}
.doctor-slider .slick-next {
    right: 20px;
}
.doctor-slider .slick-prev::before {
    color: #fff;
}
.doctor-slider .slick-next::before {
    color: #fff;
    font-family: 500;
}
.single-btn {
    color: #fff;
    margin-bottom: 20px;
    display: block;
}
.right-doc-btn{
    text-align: center;
    margin-top: 60px;
}
.doc-more-btn{
    background-color: #0067B6;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.doc-right-info {
    border-left: 1px solid white;
    padding-right: 150px;
}
.doc-single-info{
    border-bottom: 1px solid white;
}
.other-News {
    padding-top: 160px;
    margin-left: 30px;
    color: white;
}
.info-ml {
    margin-left: 30px;
    color: white;
    margin-top: 20px;
}

/* our form area start here  */
.rediology-form-here{
    background-color: #e6e9e6;
    padding: 120px;
}
.radiology-form-heding{
    display: flex;
    justify-content: space-between;
}
.radiology-form-heding h2{
    color: #0067B6;
    font-weight: 600;
    
}
.w-full {
    width: 100%;
    border: none;
    padding: 15px;
}
.form-address{
    display: flex;
}
.form-area {
    display: flex;
    justify-content: space-between;
}
.form-relative-1 input{
    width: 100%;
}
.form-relative-1 {
    width: 60%;    
}
.form-relative-1 input {
    width: 100%;
    padding: 15px;
    border: none;
}
.form-relative{
    margin-left: 20px;
}
.form-relative input {
    width: 100%;       
    border: none;
}
.form-relative-contact{
    display: flex;
    justify-content: space-between;
}
.submit-btn {
    border: 0;
    background-color: #0067B6;
    padding: 20px 50px;
    color: #fff;
    text-align: end;
    border-radius: 5px;
    font-size: 22px;
}
.form-btn-here {
    text-align: right;
}
.relative-contact{
    width: 100%;
    text-transform: uppercase;
}
.widd-haf-l{
    width: 98%;
    margin-right: 10px;

}
.widd-haf-r{
    width: 98%;
    margin-left: 10px;

}
.relative-contact {
    width: 100%;
    display: flex;    
    align-items: center;
}
.relative-contact div {
    margin-right: 20px;
}
.lable-span {
    margin-left: 10px;
}
.w-full-f{
    padding: 50px 15px;
}

/* our footer area start here  */
.our-footer-area {
    background-color: #fff;
    padding: 60px 0;
    margin-left: 300px;
}
.fotter-logo{
    padding-right: 100px;
}
.fotter-left p {
    padding-right: 80px;
    line-height: 2rem;
}

.footer-right{
    padding-left: 20px;
}
.footer-right-heder{
    font-weight: 700;
    color: #0067B6;
    font-size: 1.2rem;
}
.footer-nevigetion a{
    color: #0067B6;    
}
.footer-nevigetion a:hover{
    color: #0067B6 !important;  
}
.mx-px{
    color: #0067B6;
}
.single-one h2{
    font-size: 1rem;
    font-weight: 700
}
.single-one{
    margin: 30px 0;
    display: block;
}
.single-one p{
    margin:  0;
}
.single-footer-contact a{
    display: block;
    color: #030925;
}
.single-footer-contact a:hover{    
    color: #030925 !important;
}
.footer-bottom{
    background-color: #0067b6;
    display: none;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* our diagnostic page style start here  */
.diagnstic-hero-area {
    background-color: #0e364e;
    position: relative;
    height: 400px;
}

.diagnstic-hero-heding{
    position: absolute;
    bottom: 60px;
    left: 160px;
    color: #fff;
    font-size: 5rem ;
}
.dropdown-menu-dex ul {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}
.dropdown-menu-dex ul li{
    list-style: none;
    margin: 40px;

}
.dropdown-menu-dex ul li a{
    color: #fff;
    font-size: 32px;
}
.dropdown-menu-dex ul li a:hover{
    color: #fff !important;
}
.diagnstic-navegation{
    background-color: #009a7c;
}
.diagnostic-nav-mobile{
    display: none;
}
.diagnostic-navigation-blog{
    margin-left: 200px;
}
.diagnostic-blog-img img{
    width: 100%;
}
.diagnostic-blog-info{
    margin: 140px 140px 140px 40px;
}
.diagnostic-blog-btn{
    background-color: #0067B6;
    padding: 20px 25px;
    margin-top: 30px;
    color: white;
    display: inline-block;
    text-transform: capitalize;
    
}
.diagnostic-blog-next{
    background-color:#f1f3f4 ;
}
.prose-blog {
    color: #d2d1d1;
    font-size: 3.4rem;
    position: absolute;
    bottom: 530px;
    line-height: 1;
}
.diagnostic-wraper{
    position: relative;
}
.diagnostic-form{
    display: none;
}
.diagnostic-wraper-btn{
    margin-left: 400px;
    border: 0;
    background-color: #e6e9e6;
    color: #0067B6;
    padding: 25px 30px;
}

/* interventional page style start here  */

.interventional-navegation{
    background-color: #009a7c; 
    padding: 60px 200px;
}
.interventional-services{
    padding: 40px 0;
}
.interven-services-heding {
    color: #fff;
    font-size: 28px;
}
.interven-slider-heding{
    font-weight: 600;
    font-size: 3rem;
}
.navigation-blog{
    position: relative;
}
.navigation-prose-blog p {
    color: #d2d1d1;
    font-size: 3.4rem;
    position: absolute;
    top: 440px;
    line-height: 1;
    margin-right: 200px;
}
.interven-slider-info{
    display: flex;
}
.interven-slider-info img {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    margin: 20px;
}
.invo-slider-infom{
    width: 65%;
}
.invo-slider-list{
    display: flex;
    justify-content: space-between;
}
.invo-slider-list a {
    color: #0067B6;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.invo-slider-list a:hover{
    color: #0067B6 !important;
}
.interven-single-slider h2{
    color: #919aa7;
}
.diagnostic-blog-img {
    margin-left: 200px;
}

/* teleradiology page style start here  */
.teleradiology-nav ul{
    display: flex;
    justify-content: left;

} 
.teleradiology-navigation-blog{    
    margin: 0 200px;
    margin-top: -60px;
}
.teleradiology-next-blog{
    margin: 40px 300px;
}
.teleradiology-blog-img img{
    width: 100%;
}
.teleradiology-blog-info h1{
    color: #0067B6;
}
.teleradiology-blog-info p{    
    line-height: 2;
}
.teleradiology-blog-btn{
    background-color: #0067B6;
    padding: 20px 30px;
    color: #fff;
    margin-top: 40px;
    display: inline-block;
}


/* mobile drwopdawon menu  */
.dropdown-toggle::after {
    content: "\f107";   
    font-family: FontAwesome !important;
    font-weight: 700;
    border: none;
    background: #fff;
    color: #009a7c;
    border-radius: 100%;
    line-height: 20px;
    height: 20px;
    width: 20px;
}

button:focus:not(:focus-visible)::after {
    content: "\f107";
    transform: rotate(180deg);
    transition: .3s;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {    
    background: none;    
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
}
    

.s-btn-secondary{
    display: flex;
    align-items: center;
    color: #fff;
    background: none;    
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}
.dropdown-menu{
    background: #009a7c;

}
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: relative;
    padding: 40px 20px;    
    display: flex;
    justify-content: center;
}
.dropdown-item{
    white-space: initial;
}
