/* new destop-leyout-*/

@media only screen and (min-width: 1320px) and (max-width:1600px){

    .our-footer-area {        
        margin-left: 30px;
    }
    /* diagnostic
     page style start here  */
     .diagnostic-navigation-blog {
        margin-left: 0px;
    }
    .diagnostic-blog-info {
        margin: 40px;
    }
    .prose-blog {
        color: #4D4C4C;
        font-size: 3.4rem;
        position: inherit;        
        line-height: 1;
    }
    .dropdown-menu-dex ul li a {
        color: #fff;
        font-size: 22px;
    }
    .dropdown-menu-dex ul li {
        list-style: none;
        margin: 20px 30px;
    }
    
}
@media only screen and (min-width: 1200px) and (max-width:1400px){

    .footer-left {
        margin-left: 100px;
        margin-right: 80px;
    }
    /* diagnostic
     page style start here  */
     .diagnostic-navigation-blog {
        margin-left: 0px;
    }
    .diagnostic-blog-info {
        margin: 40px;
    }
    .prose-blog {
        color: #4D4C4C;
        font-size: 3.4rem;
        position: inherit;        
        line-height: 1;
    }
    .dropdown-menu-dex ul li a {
        color: #fff;
        font-size: 22px;
    }
    .dropdown-menu-dex ul li {
        list-style: none;
        margin: 20px;
    }
    
    
}
    

/* ------------------------------------------------- Old Desktop :992 ---------------------------------------------------*/
 @media (min-width: 992px) and (max-width: 1200px) {
    /* our heder area  */
    .radiology_menu > ul > li > a {        
        margin: 25px 10px;
        font-size: 14px;        
    }

    .right-menu a {
        color: #fff;
        font-size: 14px;
    }
    .right-menu {
        margin-left: 20px;
    }
    .bill-paying {        
        padding: 30px 30px;       
        font-size: 16px;
       
    }
    .top-form-control input {        
        font-size: 36px;        
        height: 80px;      
       
    }
    /* hero area style here  */
    .hero-info-area {
        margin-left: 0px;
    }
    .hero-area {
        position: absolute;
        bottom: 100px;
        left: 20px;
    }
 
    .heroSlider .slick-next {
        right: -20px;
    }
    .heroSlider .slick-prev {
        left: -20px;
    }

    /* our doctor slider area here  */
    .doctor-slider {
        margin-left: 40px;
    }
    .doc-info {
        display: block;
    }
    .slick-slide img {
        display: block;
        max-width: 100%; 
        margin: auto;
        
    }
    .doc-pic-1{
        max-width: 100%;
    }
    .doc-pic {        
        max-width: 100%;
    }
    .doc-right-info {
       padding-right: 20px;
    }
    .doctor-header h1 {
        margin-left: 20px;
        font-size: 2rem;        
    }
    .doctor-slider .slick-next {
        right: 0px;
    }

    /* our from area  */
    .rediology-form-here {
        background-color: #e6e9e6;
        padding: 60px;
    }
    /* footer area style here  */
    .our-footer-area {
        background-color: #fff;
        padding: 60px 0;
        margin-left: 30px;
    }
    .footer-nevigetion a {       
        font-size: 14px;
    }
    .single-one h2 {
        font-size: 0.8rem;
        font-weight: 700;
    }
    /* diagnostic
     page style start here  */
     .diagnostic-navigation-blog {
        margin-left: 0px;
    }
    .diagnostic-blog-info {
        margin: 40px;
    }
    .prose-blog {
        color: #4D4C4C;
        font-size: 3.4rem;
        position: inherit;        
        line-height: 1;
    }
    .dropdown-menu-dex ul li a {
        color: #fff;
        font-size: 22px;
    }
    .dropdown-menu-dex ul li {
        list-style: none;
        margin: 20px;
    }
    
    


}
/* ------------------------------------------------- Tablet Screen : 768 ---------------------------------------------------*/
 @media (min-width: 768px) and (max-width: 991px) { 
    .radiology-main-menu .logo a.main_sticky_main_l {
        display: block;
        width: 75%;
    }
    .mobile-Search {   
        position: relative;          
        color: #444;;
        text-transform: uppercase;
        font-size: 16px;        
        
    }
    .mobile-Search::after {
        position: absolute;
        content: "";
        border-top: 2px solid #333;
        width: 290px;        
        left: 0;        
    }
    .hero-btn {
        padding: 20px 25px;        
        margin-top: 20px;
    }
    .hero-area {
        bottom: 50px;
        background: #0e364e;
        width: 100%;
    }
    .mean-container .mean-bar, .mean-container .mean-bar * {       
        background: #fff;
    }
    .icofont-close:before {
        content: "\f00d";
        color: black;
        font-family: 'Font Awesome 6 Free';        
        font-weight: 900;
    }
    .mobile_menu_o i {
        font-size: 26px;
        
    }
    .bg-hero-mobile {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        border: 0;
        background: #0067b6;
        color: #fff;
        padding: 20px;
        font-size: 22px;
        text-transform: capitalize;
    }
    .hero-btn {
        color: #0067b6;
        position: absolute;
        top: -50px;
        left: 35%;        
    }
    .hero-area {       
        left: 0px;
    }
    .hero-info-area {
        margin-left: 0px;
        text-align: center;
        padding: 40px 0;
    }
    .hero-heding {        
        font-size: 1.75rem;
        
    }
    .hero-heding-one {        
        font-size: 1.75rem;        
    }
    /* our single slider area  */
    .single-slider{
        padding: 0 20px;
    }
    .heroSlider .slick-prev {
        left: 0px;
    }
    .heroSlider .slick-next {
        right: 0px;
    }
    .doctor-header {
       width: 100%;
        margin-top: 0px; 
    }
    .doctor-header h1 {
        color: #009a7c;
        font-size: 2rem;
        line-height: 2.2rem;
        font-weight: 400;
        margin-left: 20px;
    }
    .doctor-slider {
        margin-left: 20px;
    }
    .doc-info {
        display: block;
    }
    .doc-pic {
        max-width: 100%;
        height: 380px;
    }
    .doc-pic-1 {
        max-width: 100%;
    }
    .slick-prev {
        left: 0px;
    }
    .prose-para {
        padding: 0px 10px 0 10px;
        color: white;
    }
    .doc-right-info {
        border-left: none; 
         padding-right: 0px; 
    }
    .other-News {
        padding-top: 30px;
    }

    /* home page from area  */
    .rediology-form-here {        
        padding: 20px;
    }
    .form-area {
        display: block;        
    }
    .form-relative {
        margin-left: 0px;
    }
    .form-relative-1 {
        width: 100%;
    }
    .form-relative-contact {
        display: block;        
    }
    .widd-haf-l {
        width: 100%;
        margin-right: 0px;
    }
    .widd-haf-r {
        width: 100%;
        margin-left: 0px;
    }
    .relative-contact {
        width: 100%;
        display: block;
        align-items: center;
        
    }
     /* footer area style here   */
     .fotter-logo {
        padding-right: 100px;
        padding: 20px 20px 20px 0px;
    }
    .our-footer-area {
        background-color: #fff;
        padding: 60px 30px;
        margin-left: 0px;
        padding-bottom: 0;
    }
    .footer-bottom {
        background-color: #0067b6;
        display: block;
        padding: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .footer-end{
        display: flex;
        justify-content: space-between;
    }
    .footer-location-btn{
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
    }
    .footer-end-btn{
        border: 0;
        background: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
    }

    /* diagnostic
     page style start here  */
    .diagnstic-hero-heding {       
        bottom: 100px;        
        color: #fff;
        font-size: 3rem;
        left: 20px;
    }
    .dropdown-menu-dex{
        display: none;
    }
    .diagnostic-nav-mobile {
        display: block;
    }
    .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
        position: relative;
        padding: 40px 20px;
        text-align: center;
    }
    .btn-secondary {
        cursor: pointer;
        background: none;
        border: none;
        border-bottom: 1px solid white;
        border-radius: 0;
    }
    .diagnostic-nav-mobile ul li a{
        color: #009a7c;
    }
    .diagnostic-navigation-blog {
        margin-left: 0px;
    }
    .diagnostic-blog-info {
        margin: 20px;
    }
    .prose-blog {
        color: #4D4C4C;
        font-size: 3rem;
        position: inherit;
        bottom: px;
        line-height: 1;
    }
    .diagnostic-form{
        display: block;
    }
    .diagnostic-wraper-btn{
        display: none;
    }
   
}
/* menu and logo show & hide */
 @media (min-width: 10px) and (max-width: 991px){
    
    /* mobile menu */
     .mobile-menu{
         display:block !important;
    }
     .mobile_logo_area{
         display:block !important;
    }
     .sefti-main-menu{
         display:none !important;
    }
     .d_md_none{
         display:none !important;
    }
    .search_popup_button, .tx_mmenu_together{
		display: none;
	}
    .our-footer-area {
        background-color: #fff;
        padding: 60px 0;
        margin-left: 30px;
    }

    
}

   
/* ------------------------------------------------- Small Mobile : 320 ---------------------------------------------------*/
 @media (max-width: 767px) {
    .radiology-main-menu .logo a.main_sticky_main_l {
        display: block;
        width: 75%;
    }
    .mobile-Search {   
        position: relative;          
        color: #444;;
        text-transform: uppercase;
        font-size: 16px;        
        
    }
    .mobile-Search::after {
        position: absolute;
        content: "";
        border-top: 2px solid #333;
        width: 290px;        
        left: 0;        
    }
    .hero-btn {
        padding: 20px 25px;        
        margin-top: 20px;
    }
    .hero-area {        
        bottom: 50px;        
        background: #0e364e;
    }
    .mean-container .mean-bar, .mean-container .mean-bar * {       
        background: #fff;
    }
    .icofont-close:before {
        content: "\f00d";
        color: black;
        font-family: 'Font Awesome 6 Free';        
        font-weight: 900;
    }
    .mobile_menu_o i {
        font-size: 26px;
        
    }
    .bg-hero-mobile {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        border: 0;
        background: #0067b6;
        color: #fff;
        padding: 20px;
        font-size: 22px;
        text-transform: capitalize;
    }
    .hero-btn {
        color: #0067b6;
        position: absolute;
        top: -50px; 
        left: 35px;
    }
    
    .hero-area {       
        left: 0px;
    }
    .hero-info-area {
        margin-left: 0px;
        text-align: center;
        padding: 40px 0;
    }
    .hero-heding {        
        font-size: 1.75rem;
        
    }
    .hero-heding-one {        
        font-size: 1.75rem;        
    }
    /* our single slider area  */
    .single-slider{
        padding: 0 20px;
    }
    .heroSlider .slick-prev {
        left: 0px;
    }
    .heroSlider .slick-next {
        right: 0px;
    }
    .doctor-header {
       width: 100%;
        margin-top: 0px; 
    }
    .doctor-header h1 {
        color: #009a7c;
        font-size: 2rem;
        line-height: 2.2rem;
        font-weight: 400;
        margin-left: 20px;
    }
    .doctor-slider {
        margin-left: 20px;
    }
    .doc-info {
        display: block;
    }
    .doc-pic {
        max-width: 100%;
        height: 380px;
    }
    .doc-pic-1 {
        max-width: 100%;
    }
    .slick-prev {
        left: 0px;
    }
    .prose-para {
        padding: 0px 10px 0 10px;
        color: white;
    }
    .doc-right-info {
        border-left: none; 
         padding-right: 0px; 
    }
    .other-News {
        padding-top: 0px;
        
    }

    /* home page from area  */
    .rediology-form-here {        
        padding: 20px;
    }
    .form-area {
        display: block;        
    }
    .form-relative {
        margin-left: 0px;
    }
    .form-relative-1 {
        width: 100%;
    }
    .form-relative-contact {
        display: block;        
    }
    .widd-haf-l {
        width: 100%;
        margin-right: 0px;
    }
    .widd-haf-r {
        width: 100%;
        margin-left: 0px;
    }
    .relative-contact {
        width: 100%;
        display: block;
        align-items: center;
        
    }
     /* footer area style here   */
     .fotter-logo {
        padding-right: 100px;
        padding: 20px 20px 20px 0px;
    }
    .our-footer-area {
        background-color: #fff;
        padding: 60px 30px;
        margin-left: 0px;
        padding-bottom: 0;
    }
    .footer-bottom {
        background-color: #0067b6;
        display: block;
        padding: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .footer-end{
        display: flex;
        justify-content: space-between;
    }
    .footer-location-btn{
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
    }
    .footer-end-btn{
        border: 0;
        background: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
    }
    /* diagnostic page style start here  */
    .diagnstic-hero-heding {       
        bottom: 100px;        
        color: #fff;
        font-size: 3rem;
        left: 20px;
    }
    .dropdown-menu-dex{
        display: none;
    }
    .diagnostic-nav-mobile {
        display: block;
    }
    .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
        position: relative;
        padding: 40px 20px;
    }
    .btn-secondary {
        cursor: pointer;
        background: none;
        border: none;
        border-bottom: 1px solid white;
        border-radius: 0;
    }
    .diagnostic-nav-mobile ul li a{
        color: #009a7c;
    }
    .diagnostic-navigation-blog {
        margin-left: 0px;
    }
    .diagnostic-blog-info {
        margin: 20px;
    }
    .prose-blog {
        color: #4D4C4C;
        font-size: 3rem;
        position: inherit;
        bottom: px;
        line-height: 1;
    }
    .diagnostic-form{
        display: block;
    }
}

